<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.PT_Backend">

    <!-- 인터넷 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />


    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PT_Backend"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Personal_Trainer"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"> <!-- http 보안관련 -->
        <activity android:name="com.example.PT_Backend.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.PT_Backend.MainActivity2" > </activity>
        <activity android:name="com.example.PT_Backend.CalendarFragment"
            tools:ignore="Instantiatable"> </activity>
        <activity android:name="com.example.PT_Backend.RegisterActivity" > </activity>
        <activity android:name="com.example.PT_Backend.RegisterCompleteActivity" > </activity>
        <activity android:name="com.example.PT_Backend.RegisterUpdateActivity" > </activity>
        <activity android:name="com.example.PT_Backend.SettingActivity" > </activity>
        <activity android:name="com.example.PT_Backend.CameraActivity" > </activity>
        <activity android:name="com.example.PT_Backend.CameraCheckActivity" > </activity>
        <activity android:name="com.example.PT_Backend.UpdateActivity" > </activity>
        <activity android:name="com.example.PT_Backend.UpdateInfoActivity" > </activity>
        <activity android:name="com.example.PT_Backend.CenterActivity" > </activity>
        <activity android:name="com.example.PT_Backend.DegreeActivity" > </activity>
        <activity android:name="com.example.PT_Backend.DegreeContentActivity1" > </activity>
        <activity android:name="com.example.PT_Backend.DegreeContentActivity2" > </activity>
        <activity android:name="com.example.PT_Backend.DeleteActivity" > </activity>
        <activity android:name="com.example.PT_Backend.DietActivity" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyUpdateActivity1" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyUpdateActivity3" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyUpdateActivity2" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyWriteActivity1" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyWriteActivity3" > </activity>
        <activity android:name="com.example.PT_Backend.InBodyWriteActivity2" > </activity>
        <activity android:name="com.example.PT_Backend.LoginActivity" > </activity>
        <activity android:name="com.example.PT_Backend.NoticeActivity" > </activity>
        <activity android:name="com.example.PT_Backend.Signup_Php_Mysql" />
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
             />

        <!-- 팝업 Activity -->
        <activity android:name="com.example.PT_Backend.ImagePopupActivity"
            android:theme="@android:style/Theme.Dialog" />

        <!-- 사진 촬영을 위한 provide -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.PT_Backend.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>



    </application>

</manifest>